body {
    background-image: url(../imagens/fundoFabrica.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-dark {
    background-color: transparent !important;
}

.nav-link {
    color: white ;
}

.col {
    margin-top: 5em !important;
    width: max-content;
}

.col img {
    width: 6em;
}

.col h1 {
    font-size: 3em !important;
    color: white;
}

.col p {
    font-size: 1.3em;
    color: white;
}

.text-truncate {
    white-space: normal;
}

.btn-primary {
    background-color: #f78b1f;
    border-color: #f78b1f;
}
button, input, optgroup, select, textarea{

    margin: 10px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
