<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/estilos-agendas.css">
    <link rel="website icon" type="png" href="IMAGENS/iconeSenac.jpg">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2?family= Roboto +Condensed & display=swap" rel="stylesheet">

      <!-- Bootstrap CSS --> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 


    <title>Agendas</title>
</head>


<body>


<div class="top-navbar">
    <a th:href="@{/agendas}">
        <form method="POST" action="menu.html">
        <button class="voltar-btn">Voltar</button>
    </a>
</div>
</form>


<div class="title-container ">
    <h1> Agendar Evento</h1>
    <h6><b>Agendas do Senac</b></h6>
</div>


<div class="agendas-container">


    <ul class="cards-list">


        <form class="novo-form" th:action="@{/agendas/save}" th:object="${agenda}" method="post">
            <table>
                <tr>
                    
                    <td><label for="titulo"><b>Titulo:</b> </label></td>
                    <td><input type="text" th:field="*{titulo}" id="titulo" name="titulo"></td>
                </tr>
                <tr>
                    <td><label for="dataInicio"><b>Data início:</b> </label></td>
                    <td><input type="date"th:field="*{inicio}" id="dataInicio" name="dataInicio"></td>
                </tr>
                <tr>
                    <td><label for="dataTermino"><b>Data termino: </b> </label></td>
                    <td><input type="date"th:field="*{termino}" id="dataTermino" name="dataTermino"></td>
                   
                </tr>
                <tr>
                    <td><label for="horaInicio"><b>Hora início:</b> </label></td>
                    <td><input type="time" th:field="*{horaInicio}" id="horaInicio" name="horaInicio"></td>
                </tr>
                <tr>
                    <td><label for="horaTermino"><b>Hora termino:</b> </label></td>
                    <td><input type="time" th:field="*{horaTermino}" id="horaTermino" name="horaTermino"></td>
                </tr>
                <tr>
                    <td><label for="observacao"><b>Observação:</b> </label></td>
                    <td><input type="text" th:field="*{observacao}" id="observacao" name="observacao"></td>
                </tr>


                <tr>
                    <td><label for="colaborador"><b>Colaborador:</b> </label></td>
                    <td>
                        <div class="colaboradores-dropdown">
                            <select id="colaborador" th:field="*{colaborador}" class="colaborador-select" style="width: 300px; color: #000; height: 40px; font-size: 14px;">


                                <option value="0" style="color: #000;"><b>Escolha um colaborador</b></option>
                                <option th:each="colaborador : ${colaboradores}" th:value="${colaborador.id}" th:text="${colaborador.nome}" style="color: #000;"></option>
                            </select>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td><label for="local"><b>Local:</b> </label></td>
                    <td>
                        <div class="locais-dropdown">
                            <select id="local" th:field="*{local}" class="local-select" style="width: 300px; color: #000; height: 40px; font-size: 14px;">


                                <option value="0" style="color: #000;"><b>Escolha um local</b></option>
                                <option th:each="local : ${locais}" th:value="${local.id}" th:text="${local.descricao}" style="color: #000;"></option>
                            </select>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td><label for="equipamentos"><b>Equipamentos: </b></label></td>
                    <td>
                        <div class="equipamentos-dropdown">
                            <select id="equipamentos" th:field="*{equipamentos}" class="equipamento-select" style="width: 300px; color: #000; height: 40px; font-size: 14px;">


                                <option value="0" style="color: #000;"><b>Escolha um equipamento</b></option>
                                <option th:each="equipamento : ${equipamentos}" th:value="${equipamento.id}" th:text="${equipamento.descricao}" style="color: #000;"></option>
                            </select>
                        </div>
                    </td>
                </tr>


                <tr>
                 
                    <td><input type="submit" value="Salvar"></td>
             
                   
                </tr>
            </table>
        </form>


    </ul>
</div>


</body>


</html>

                 <!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
